#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 150vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: 
    url(../../../img/african-leopard-female-pose-beautiful-evening-light.jpg);
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(../../../img/african-leopard-female-pose-beautiful-evening-light.jpg); */
}
.parallax-bg-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: 
    url(../../../img/male-female-lions-laying-sand-resting.jpg);
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(../../../img/male-female-lions-laying-sand-resting.jpg); */
}
.parallax-bg-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: 
    url(../../../img/shot-two-cute-tall-giraffes-safari-south-africa.jpg);
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(../../../img/shot-two-cute-tall-giraffes-safari-south-africa.jpg); */
}

.swiper-slide .title {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 5rem;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  text-align: center;
}
